<!-- HTMLファイルはtemplatesフォルダに格納しないと動きません -->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Python サンプル②＜手書き文字認識ツール＞</title>
<!-- CSSはhrefに記載している場所から読み込んでいる。 -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/stylesheet.css') }}">
</head>
<body>
	<div id="main">
		<div id="area1">
			<div class="text">
				<h1>名前生成ツール</h1>
			</div>
			<div class="post">
				<!-- predictが存在すれば、画像と判定結果を表示する。 -->
				{% if predict %}
					<h1> 判定結果:{{predict}} </h1><BR>
					<HR>
				{% endif %}
				ファイルを選択して送信してください<BR>
				<form action = "./" method = "POST"
					 enctype = "multipart/form-data">
					 <input type = "file" name = "file" />
					 <input type = "submit"/>
				</form>
				<form action = "./predict" method = "POST"
					 enctype = "multipart/form-data">
					 <button type='submit' name='action' value='send'>名前生成</button>
				</form>

			</div>
		</div>
	</div>
</body>
</html>